/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.photo{
	width: 100%;
	height: 100%;
}

.photo img{
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

.photo-detail {
	background-color: black;
	position: static;
}
.photo-detail h1{
	margin: 0;
	line-height: 1.25;
	color: 	#AD3333;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.photo-detail h4{
	color: #C26666;
}
.photo-detail .photo-content{
	background-color: #C26666;
}
.photo-detail .btn {
	margin-top: 10px;
}
.photo-content{
	text-align: center;
}
.photo-content h3{
	color: black;
}